.body {
  margin: 0;
}

.container {
  position: fixed;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: auto;
}

.container > div {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.content {
  flex: 1;
}