@mixin light-theme {
  
}

/*** colors ***/
$text-color: #E5E5E5;
/* primary */
$primary-text-color: $text-color;
$primary-background-color: 	rgb(114, 76, 157);
$primary-hover-background-color: rgb(148, 115, 185);
$primary-hover-color: rgb(190, 167, 217);
/* secondary */
$secondary-text-color: $text-color;
$secondary-color: rgb(44, 27, 71);
$secondary-hover-background-hover: $primary-background-color;
$secondary-hover-color: $primary-hover-background-color;
/* accent */
$accent-text-color: $text-color;
$accent-color: rgb(147, 86, 160);
$accent-background-hover: rgb(169, 116, 181);
$accent-hover-color: $primary-hover-color;

/*** shadow ***/
$shadow-sm: 0 1px 2px 0 rgb(0 0 0 / 0.05);