/*** shadow ***/
$shadow-md: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);

.nav-bar {
  display: flex;
  min-height: 4rem;
  box-shadow: $shadow-md;
  align-items: center;
}

.nav-bar-title {
  padding: 0 2rem;
  margin: 0;
}

.nav-bar-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav-bar-item {
  display: inline;
  margin: 8px;
}