.page {
  display: flex;
  align-items: center;
  justify-content: center;
}

.row-container {
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
  margin: 4rem;
}

.row-container > div {
  width: 100%;
}

.row-container > div > h2 {
  font-size:x-large;
  font-weight: 600;
  margin: 12px;
}

.row {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  box-shadow: 0 0 #0000, 0 0 #0000, 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
  padding: 24px 32px;
}
