/*** colors ***/
$text-color: #E5E5E5;
/* primary */
$primary-text-color: $text-color;
$primary-background-color: 	rgb(114, 76, 157);
$primary-hover-background-color: rgb(148, 115, 185);
$primary-hover-color: rgb(190, 167, 217);
/* secondary */
$secondary-text-color: $text-color;
$secondary-color: rgb(44, 27, 71);
$secondary-hover-background-hover: $primary-background-color;
$secondary-hover-color: $primary-hover-background-color;
/* accent */
$accent-text-color: $text-color;
$accent-color: rgb(147, 86, 160);
$accent-background-hover: rgb(169, 116, 181);
$accent-hover-color: $primary-hover-color;

/*** shadow ***/
$shadow-sm: 0 1px 2px 0 rgb(0 0 0 / 0.05);


.base {
  font-size: 0.875rem;
  font-weight:600;
  border-radius: 0.25rem;
  width: fit-content;
  background-color: inherit;
}

.base:hover {
  cursor: pointer;
}

/*** size ***/
.small {
  padding: 0.25rem 0.5rem;
}

.medium {
  padding: 0.375rem 0.625rem;
}

.large {
  padding: 0.5rem 0.75rem;
}

/*** contained ***/
.contained {
  box-shadow: $shadow-sm;
}

.primary-contained {
  background-color: $primary-background-color;
  color: $primary-text-color;
}
.primary-contained:hover {
  background-color: $primary-hover-background-color;
}

.secondary-contained {
  background-color: $secondary-color;
  color: $secondary-text-color;
}

.secondary-contained:hover {
  background-color: $secondary-hover-background-hover;
}

.accent-contained {
  background-color: $accent-color;
  color: $accent-text-color;
}

.accent-contained:hover {
  background-color: $accent-background-hover;
}

/*** outlined ***/
.outlined {
  box-shadow: $shadow-sm;
  border: 1px solid;
}

.primary-outlined {
  border-color: $primary-background-color;
  color: $primary-background-color;
}

.primary-outlined:hover {
  border-color: $primary-hover-color;
  color: $primary-hover-color;
}

.secondary-outlined {
  border-color: $secondary-color;
  color: $secondary-color;
}

.secondary-outlined:hover {
  border-color: $secondary-hover-color;
}

.accent-outlined {
  border-color: $accent-color;
  color: $accent-color;
}

/*** text ***/
.text {
  box-shadow: none;
}

.primary-text {
  color: $primary-background-color;
}

.primary-text:hover {
  color: $primary-hover-color;
}

.secondary-text {
  color: $secondary-color;
}

.secondary-text:hover {
  color: $secondary-hover-color;
}

.accent-text {
  color: $accent-color;
}

.accent-text:hover {
  color: $accent-hover-color;
}

/*** pill ***/
.pill {
  border-radius: 50px;
}
